:root {
  --secondary: #A4A4A4
}

body {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.column {
  flex-direction: column;
  display: flex;
}

.align-items-center {
  align-items: center;
}

.space-around {
  justify-content: space-around
}


@media (max-width: 600px) {
  .container {
    width: 100%;
  }
} 
